<div class="page-background">
  <div *ngIf="loading">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div *ngIf="!loading && patient" class="diagnosis-content-container">
    <div class="diagnosis-header-section">
      <div class="logo-container">
        <img src="assets/erc-logo.jpg" alt="ERC Logo" class="logo" />
      </div>
      <h1>Hasta Tanı Paneli</h1>
    </div>

    <div *ngIf="section === 'info'" class="step-content two-columns">
      <div class="info-column">
        <div class="patient-info-section">
          <h3>Hasta Bilgileri</h3>
          <div class="patient-info-content">
            <img
              src="assets/user.png"
              alt="Avatar"
              class="avatar-image"
              [ngStyle]="{ 
                'background-color': patient.gender === 'Female' ? '#FE698A' : '#ADD8E6'
              }"
            />
            <div class="patient-details">
              <p>
                <strong>İsim:</strong> {{ patient.firstName }}
                {{ patient.lastName }}
              </p>
              <p><strong>TC Kimlik No:</strong> {{ patient.identityNumber }}</p>
              <p><strong>Hasta No:</strong> {{ patient.id }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="vertical-line"></div>

      <div class="column">
        <div class="note-section">
          <h3>Hasta Şikayeti</h3>
          <p>{{ note || "Sistemde hasta şikayeti bulunmuyor." }}</p>
        </div>

        <div class="potential-diagnosis-section">
          <h3>Potansiyel Hastalık</h3>
          <p>
            {{
              potentialDiagnosis || "Sistemde potansiyel hastalık bulunmuyor."
            }}
          </p>
        </div>

        <div class="action-buttons">
          <button
            (click)="section = 'diagnosis'"
            class="next-button anim-bg-gradient"
          >
            Reçete ve Tanı
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="section === 'diagnosis'" class="step-content two-columns">
      <div class="column">
        <div class="diagnosis-form-section">
          <h3>Tanı</h3>
          <textarea
            [(ngModel)]="diagnosis"
            placeholder="Tanı girin..."
            rows="10"
            class="diagnosis-textarea"
          ></textarea>
        </div>
      </div>

      <div class="vertical-line"></div>

      <div class="column">
        <div class="prescription-section">
          <h3>Reçete</h3>
          <p-dropdown
            [options]="drugOptions"
            [(ngModel)]="selectedDrug"
            placeholder="İlaç seçin"
            [filter]="true"
            appendTo="body"
            (onChange)="addDrug()"
          ></p-dropdown>

          <!-- Space for displaying chosen drugs in a grid format -->
          <div class="prescription-grid">
            <div class="drug-item" *ngFor="let drug of prescription">
              {{ drug }}
              <i class="pi pi-times" (click)="removeDrug(drug)"></i>
            </div>
            <!-- Placeholder items to fill the grid -->
            <div *ngFor="let empty of emptySlots" class="drug-item empty"></div>
          </div>
        </div>

        <div class="action-buttons">
          <button
            (click)="saveDiagnosis()"
            class="save-button anim-bg-gradient"
          >
            Kaydet
          </button>
          <button
            (click)="section = 'info'"
            class="cancel-button anim-bg-gradient"
          >
            Geri
          </button>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="!loading && !patient" class="diagnosis-content-container">
    <h1>Sırada bekleyen hasta yoktur</h1>
  </div>
</div>
