<div class="page-background">
  <div class="home-container">
    <div class="home-logo-container">
      <img src="assets/erc-logo.jpg" alt="ERC Logo" class="home-logo" />
    </div>

    <div class="home-title-container">
      <h2>ERC Hasta Kayıt</h2>
      <p>Hoşgeldiniz!</p>
    </div>
    
    <div class="home-actions">

      <ng-container *ngIf="!showHastaIslemleri; else subActions">
        <button pButton type="button" label="Hasta İşlemleri" class="anim-bg-gradient home-action-button" (click)="toggleSection('hastaIslemleri')">Hasta İşlemleri</button>
        <button pButton type="button" label="Yönetim Paneli" class="anim-bg-gradient home-action-button" (click)="navigateTo('dashboard')">Bilgi Paneli</button>
        <button pButton type="button" icon="pi pi-arrow-left" class="reddish-anim-bg-gradient back-button" (click)="logout()">Çıkış Yap</button>
      </ng-container>

      <ng-template #subActions>
        <button pButton type="button" label="Hasta Kayıt" class="anim-bg-gradient home-action-button" (click)="navigateTo('registration')">Hasta Kayıt</button>
        <button pButton type="button" label="Hasta Arama" class="anim-bg-gradient home-action-button" (click)="navigateTo('patients')">Hasta Arama</button>
        <button pButton type="button" icon="pi pi-arrow-left" class="blueish-anim-bg-gradient back-button" (click)="toggleSection('main')">Geri Dön</button>
      </ng-template>
    </div>
  </div>
</div>
