<div class="page-background">
    <div class="policlinic-container">
      <div class="policlinic-logo-container">
        <img src="assets/erc-logo.jpg" alt="ERC Logo" class="policlinic-logo" />
      </div>
  
      <div class="policlinic-title-container">
        <h2>ERC Poliklinik</h2>
        <p>Hoşgeldiniz!</p>
      </div>
  
      <div class="policlinic-actions">
        <button pButton type="button" label="Hasta Kabul" class="anim-bg-gradient policlinic-action-button" (click)="navigateTo('admission-main')">Hasta Sayfası</button>
        <button pButton type="button" label="Kayıtlar" class="anim-bg-gradient policlinic-action-button" (click)="navigateTo('policlinic-queue')">Sıra Sayfası</button>
        <button pButton type="button" icon="pi pi-arrow-left" class="reddish-anim-bg-gradient policlinic-back-button" (click)="logout()">Çıkış Yap</button>
      </div>
    </div>
  </div>
  