<div class="page-background">
    <div class="home-container">
      <div class="home-logo-container">
        <img src="assets/erc-logo.jpg" alt="ERC Logo" class="home-logo" />
      </div>
  
      <div class="home-title-container">
        <h2>ERC Hasta Kabul</h2>
        <p>Hoşgeldiniz!</p>
      </div>
  
      <div class="home-actions">
        <button pButton type="button" label="Hasta Kabul" class="anim-bg-gradient home-action-button" (click)="navigateTo('admission-main')">Hasta Kabul</button>
        <button pButton type="button" label="Hasta Kabul" class="anim-bg-gradient home-action-button" (click)="navigateTo('admission')">Arama</button>
        <button pButton type="button" icon="pi pi-arrow-left" class="reddish-anim-bg-gradient back-button" (click)="logout()">Çıkış Yap</button>
      </div>
    </div>
  </div>
  