<div class="page-background">
    <div class="form-container">
      <div class="logo-container">
        <img src="assets/erc-logo.jpg" alt="ERC Logo" class="logo" />
      </div>
      <h2>Kayıt Ol</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Kullanıcı Adı</label>
          <input
            id="username"
            type="text"
            [(ngModel)]="username"
            name="username"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Şifre</label>
          <input
            id="password"
            type="password"
            [(ngModel)]="password"
            name="password"
            required
          />
          <small class="password-requirements" style="font-weight: 600; font-style: italic;">
            Şifreniz en az bir büyük harf ve bir özel karakter içermelidir.
          </small>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Şifreyi Onayla</label>
          <input
            id="confirmPassword"
            type="password"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required
          />
        </div>
        <div class="submit-cont">
          <button pButton type="submit" label="Register" class="anim-bg-gradient">
            Kayıt Ol
          </button>
        </div>
  
        <div class="form-footer">
          <p>
            Hesabınız varsa lütfen
            <a routerLink="/login">giriş yapın</a>
          </p>
        </div>
      </form>
    </div>
  </div>
  