.form-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 400px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  
  .form-footer {
    text-align: center;
    margin-top: 1rem;
  }
  
  .form-footer a {
    color: darkmagenta;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
  }
  
  .form-footer a:hover {
    text-decoration: underline;
  }
  

  .logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .logo {
    width: 100px;
  }
  
  .submit-cont{
    display: flex;
    justify-content: center;
  }